.item {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #E5E5E5;
    height: 47px;
}

.item:last-of-type {
}

.users {
    table-layout: fixed;
    border-collapse: collapse;
}

.buttonsContainer {
    width: 606px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 606px;
}

.thead {
    height: 36px;
    background: #E5E5E5;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
}

.nameCol {
    width: 218px;
    padding: 11px 0 9px 17px;
}


.ageCol {
}